UnityTestTGenProject/Assembly-CSharp.csproj
UnityTestTGenProject/Assembly-CSharp-Editor.csproj
UnityTestTGenProject/.vscode/settings.json
UnityTestTGenProject/.vscode/launch.json
UnityTestTGenProject/.vs/New Unity Project/v15/Server/sqlite3/storage.ide-wal
UnityTestTGenProject/.vs/New Unity Project/v15/Server/sqlite3/storage.ide-shm
UnityTestTGenProject/.vs/New Unity Project/v15/Server/sqlite3/storage.ide
UnityTestTGenProject/.vs/New Unity Project/v15/Server/sqlite3/db.lock
UnityTestTGenProject/.vs/New Unity Project/v15/.suo
UnityTestTGenProject/New Unity Project.sln
UnityTestTGenProject/Library/
UnityTestTGenProject/Temp/UnityLockfile
UnityTestTGenProject/obj/
UnityTestTGenProject/Temp/
UnityTestTGenProject/UnityTestTGenProject.sln
